$distance-x2s: 4px; // Объекты являются одним целым. Одно не возможно без существования другого.
$distance-xs: 8px; // Минимальное расстояние между разными объектами.
$distance-sm: 16px; // Перечисление объектов одного типа. Например — расстояние между пунктами меню.
$distance-md: 24px; // Перечисление объектов одного типа. Например — расстояние между пунктами меню.
$distance-lg: 32px; // Объекты не очень связаны между собой. Отделение разных блоков информации.
$distance-xl: 40px; // Объекты совершенно точно между собой не связаны. Можно использовать это пустое место вместо разделительных линий и блоков.
